<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/images/empireOfAtlantium.jpg"
           alt="Image d'un mini empire"
           class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <br>
      <h3>Une micronation, qu'est-ce que c'est ?</h3>
      <hr style="height:2px;color:#333;background-color:#333;"/>
      <p class="Paragraphe-standard">
          <span class="texte-larish">
            Depuis la naissance de la société moderne, certains hommes ont ressenti le besoin de contrer les
            règles imposées par la vie sociale, politique et économique et de s’approprier un bout de terre où
            ils pouvaient s’exprimer librement et décider par eux-mêmes l’organisation la plus appropriée à
            leurs besoins et croyances. Certains de ces hommes, des visionnaires, excentriques idéalistes,
            ont réussi dans leur projet, la fondation de «royaumes», souvent si étranges qu’ il ne semblent pas
            réels. Ces micro-nations, de petits voire très petits territoires, voudraient être (mais ne sont pas)
            considérés comme des états indépendants. Le terme micronation, inventé dans les années 70
            pour définir les entités autoproclamées, pirates, ou anti-conformistes surgissant un peu partout
            dans le monde, comprend maintenant de nombreux « états » improbables, fabuleux, parfois
            presque ridicules, mais chacun avec une curieuse histoire méritant d’être racontée. Créer un état
            permet de réaliser un rêve, de porter un message, d'esquisser une nouvelle civilisation, mais aussi
            d'asseoir un pouvoir, de se gorger de titres nobiliaires et de décorations, voire d'éviter les impôts. Il
            serait aussi intéressant de mettre en regard de ces micro-états, somme toute assez inoffensifs, les
            vrais états créés depuis 1947 (partition, décolonisation, éclatement) et de comparer leur respective
            affirmation symbolique.
          </span>
      </p>
      <br>
      <h3>À propos du projet</h3>
      <hr style="height:2px;color:#333;background-color:#333;"/>

      <div>
        <p class="Paragraphe-standard">
          <span class="texte-larish">
            Optate volupta tquatio officit liquam,
            ut rem volore landit facculpa doluptasped es quaturios comniat as quo
            toratus andunde pelissequi tecuptur,
            enienis dus, simus si occati con rem re
            es comnim fuga. Obis qui dolupistia
            dolo denderupta imus, qui il illuptatias as aut prem dem ea volor ationserio. Tur ma vitatent qui ditatum iur?
            Qui dunt aspis dem dolupta dolupiento corem fuga. Maximusam erum
            dolor a non consequi ut faccullautem
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

