<br>
<div class="row">
  <div class="col-md-12">
    <p class="Paragraphe-standard para-style-override-4 text-center">
      Être roi est idiot;
    </p>
    <p class="Paragraphe-standard para-style-override-4">
      ce qui compte c’est de faire
    </p>
    <p class="Paragraphe-standard para-style-override-4">
      un royaume.
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p class="Paragraphe-standard para-style-override-5">
      André Malraux
    </p>
    <p class="Paragraphe-standard para-style-override-5">
      La voix royale, 1930
    </p>
  </div>
</div>
